In [1]:
import setup_django

setup_django.init()

In [2]:
from movies.models import Movie
qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': None, 'rating_count': 0}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('3.00'), 'rating_count': 1}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': None, 'rating_count': 0}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': None, 'rating_count': 0}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': None, 'rating_count': 0}, {'title': '2001: A Space Odyssey', 'release_date': datetime.date(1968, 4, 10), 'rating_avg': Decimal('1.00'), 'rating_count': 1}, {'title': 'Twelve Monkeys', 'release_date': datetime.date(1995, 12, 29), 'rating_avg': Decimal('1.00'), 'rating_count': 1}, {'title': 'Before Sunrise', 'release_date': datetime.date(1995, 1, 27), 'rating_avg': None, 'rating_count': 0}, {'title': 'Blade Runner', 'release_date': datetime.date(1982, 6, 25), 'rating_avg': None, 'rating_count': 0}, {'title': 'Leon: The Professional', 'release_date': datetime.date(1994, 9, 14), 'rating_avg': None, 'rating_count': 0}, {'title': 'Taxi Driver', 'release_date': datetime.date(1976, 2, 7), 'rating_avg': None, 'rating_count': 0}, {'title': 'Three Colors: Blue', 'release_date': datetime.date(1993, 1, 10), 'rating_avg': None, 'rating_count': 0}, {'title': 'Three Colors: White', 'release_date': datetime.date(1994, 1, 26), 'rating_avg': Decimal('2.00'), 'rating_count': 2}, {'title': 'Three Colors: Red', 'release_date': datetime.date(1994, 5, 27), 'rating_avg': Decimal('2.00'), 'rating_count': 1}, {'title': 'Pretty Woman', 'release_date': datetime.date(1990, 3, 23), 'rating_avg': None, 'rating_count': 0}, {'title': 'Maybe... Maybe Not', 'release_date': datetime.date(1994, 10, 5), 'rating_avg': None, 'rating_count': 0}, {'title': "Breakfast at Tiffany's", 'release_date': datetime.date(1961, 10, 5), 'rating_avg': Decimal('2.00'), 'rating_count': 1}, {'title': '20,000 Leagues Under the Sea', 'release_date': datetime.date(1954, 12, 23), 'rating_avg': None, 'rating_count': 0}, {'title': 'Blown Away', 'release_date': datetime.date(1994, 7, 1), 'rating_avg': None, 'rating_count': 0}, {'title': 'Star Trek: Generations', 'release_date': datetime.date(1994, 11, 17), 'rating_avg': None, 'rating_count': 0}, '...(remaining elements truncated)...']>

In [4]:
import pandas as pd

df = pd.DataFrame(qs)
df.head()

            title release_date rating_avg  rating_count
0      Four Rooms   1995-12-09       None             0
1  Judgment Night   1993-10-15       3.00             1
2       Star Wars   1977-05-25       None             0
3    Forrest Gump   1994-07-06       None             0
4    Citizen Kane   1941-04-30       None             0